.btFale {
  position: fixed;
  top: 350px;
  /* bottom: 20px; */
  right: -60;
}

.btFale button {
  cursor: pointer;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: #cb60b3;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  color: white;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btFale button:focus {
  outline: none;
}

.btFale button.main {
  position: absolute;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  background-color: #5b19b7;
  right: 0;
  bottom: 0;
  z-index: 20;
  transform: rotate(-90deg);
}

.btFale button.main:before {
  content: "Fale conosco";
}

.btFale ul {
  position: absolute;
  bottom: -48px;
  right: 0;
  padding: 0;
  padding-right: 5px;
  margin: 0;
  list-style: none;
  z-index: 10;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btFale ul li {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 10px;
  opacity: 0;

  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btFale.show button.main,
.btFale.show button.main {
  outline: none;
  background-color: #7716ff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.btFale.show button.main:before,
.btFale.show button.main:before {
  content: "Fale conosco";
}

.btFale.show button.main + ul,
.btFale.show button.main + ul {
  bottom: -48px;
}

.btFale.show button.main + ul li,
.btFale.show button.main + ul li {
  margin-right: 105px;
  opacity: 1;
}

.btFale.show button.main + ul li:hover,
.btFale.show button.main + ul li:hover {
  opacity: 1;
}
